{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/mnt/c/Users/magda/projetjuin1/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/mnt/c/Users/magda/projetjuin1/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twigBONJOUR</a></code></li>
    </ul>

</div>

<div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio error iste sapiente harum rerum. Eligendi voluptas temporibus, iste deleniti expedita veniam magni accusamus sapiente commodi unde voluptatum labore libero natus!
        Repellendus, amet libero doloremque asperiores necessitatibus voluptate minus minima doloribus quos quia laborum accusantium illum praesentium quibusdam voluptates fuga dolores qui, cum animi reprehenderit. Laborum atque odio facere doloribus voluptatum.
        Eius unde illum autem est perferendis officia dolores ab culpa? Praesentium, incidunt accusantium. Hic quibusdam nostrum, impedit explicabo labore unde dignissimos accusamus ad veniam illo quisquam consequuntur odit, ratione inventore!
        Rem praesentium quidem in a labore dignissimos aliquid itaque veniam esse. Deleniti impedit autem enim voluptate praesentium soluta, officiis, rem illo iure nostrum temporibus architecto tempore sed quo quasi at.
        Sint quae tempore, fugit asperiores animi iure reprehenderit quidem totam cupiditate, odit assumenda blanditiis quam at vel, nostrum ad id sed quisquam quibusdam hic cumque perspiciatis voluptates! Quia, sint blanditiis.</p>
</div>
{% endblock %}
